<header class="navbar">
  <h1 class="nav-item">Postagens</h1>
  <a href="/post/add" role="button" class="btn btn-primary nav-item">fazer postagem</a>
</header>
<hr>

{{#each post}}
  {{!-- Listagem --}}
  <section class="card mt-4">
    <div class="card-body">
      <header>
        <a href="/post/see/{{slug}}" class="link-dark title">
          <h2 class="card-title text-capitalize">{{title}}</h2>
        </a>
        <p class="card-subtitle text-muted">{{slug}}</p>
        <hr>
        <p class="card-title mb-3">{{description}}</p>
      </header>

      <section class="d-flex">
        {{!-- Edit btn --}}
        <a href="/post/edit/{{_id}}" role="button" class="btn btn-success me-2">Editar</a>

        {{!-- Del btn --}}
        <form action="/post/del" method="post">
          <input type="hidden" name="id" value="{{_id}}">
          <button class="btn btn-danger" type="submit">Deletar</button>
        </form>

      </section>
    </div>
  </section>
{{else}}
  <section class="card mt-4">
    <div class="card-body">
      <h2>Ops...</h2>
      <small>Nenhuma postagem foi encontrada</small>
    </div> 
  </section>
{{/each}}
