<header class="card">
  <div class="card-body">
    <h1 class="display-4">Bem Vindo ao Study Blog</h1>
    <p class="lead">Esse projeto é um mini blog que fiz durante meu aprendizado de nodeJs.</p>
    <hr class="my-4">
    <p>Se esta interesado por esse projeto recomendo começar criando uma conta.</p>
    <a class="btn btn-primary btn-lg" href="/signup" role="button">Criar conta</a>
  </div>
</header>

<div>
  {{#each post}}
    {{!-- Listagem --}}
    <section class="card mt-4">
      <div class="card-body">
        <header>
          <a href="/post/see/{{slug}}" class="link-dark title">
            <h2 class="card-title text-capitalize">{{title}}</h2>
          </a>
          <p class="card-subtitle text-muted">{{slug}}</p>
          <hr>
          <p class="card-title mb-3">{{description}}</p>
        </header>
      </div>
    </section>
  {{else}}
    <section class="card mt-4">
      <div class="card-body">
        <h2>Ops...</h2>
        <small>Nenhuma postagem foi encontrada</small>
      </div>
    </section>
  {{/each}}
</div>